---
---

@import "{{ site.theme }}";

.page-header {
  /*background-color: #dddddd;*/
  padding-top: 90px;
  padding-bottom: 90px;
  color: $section-headings-color;
  background-image: url(../images/image4210_xs.png);
  text-shadow: 
	-2px -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    2px 2px 0 #ffffff;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}