---
---

@import "{{ site.theme }}";

.page-header {
  /*background-color: #dddddd;*/
  padding-top: 90px;
  padding-bottom: 90px;
  color: $section-headings-color;
  background-image: url(../images/image4210_xs.png);
  text-shadow: 
	-2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}